<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.agrManader.dao.Interface.ProduceMapper">
  <resultMap id="BaseResultMap" type="com.ly.agrManader.dao.bo.Produce">
    <result column="produce_id" jdbcType="INTEGER" property="produceId" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="produce_code" jdbcType="VARCHAR" property="produceCode" />
    <result column="produce_name" jdbcType="VARCHAR" property="produceName" />
    <result column="produce_price" jdbcType="DECIMAL" property="producePrice" />
    <result column="produce_price_oridry" jdbcType="VARCHAR" property="producePriceOridry" />
    <result column="produce_info" jdbcType="VARCHAR" property="produceInfo" />
    <result column="produce_pircture" jdbcType="VARCHAR" property="producePircture" />
    <result column="produce_state" jdbcType="VARCHAR" property="produceState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    produce_id, supplier_id, produce_code, produce_name, produce_price, produce_price_oridry, 
    produce_info, produce_pircture, produce_state
  </sql>
  <select id="selectByExample" parameterType="com.ly.agrManader.dao.bo.ProduceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from produce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ly.agrManader.dao.bo.ProduceExample">
    delete from produce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ly.agrManader.dao.bo.Produce">
    insert into produce (produce_id, supplier_id, produce_code, 
      produce_name, produce_price, produce_price_oridry, 
      produce_info, produce_pircture, produce_state
      )
    values (#{produceId,jdbcType=INTEGER}, #{supplierId,jdbcType=INTEGER}, #{produceCode,jdbcType=VARCHAR}, 
      #{produceName,jdbcType=VARCHAR}, #{producePrice,jdbcType=DECIMAL}, #{producePriceOridry,jdbcType=VARCHAR}, 
      #{produceInfo,jdbcType=VARCHAR}, #{producePircture,jdbcType=VARCHAR}, #{produceState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ly.agrManader.dao.bo.Produce">
    insert into produce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="produceId != null">
        produce_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="produceCode != null">
        produce_code,
      </if>
      <if test="produceName != null">
        produce_name,
      </if>
      <if test="producePrice != null">
        produce_price,
      </if>
      <if test="producePriceOridry != null">
        produce_price_oridry,
      </if>
      <if test="produceInfo != null">
        produce_info,
      </if>
      <if test="producePircture != null">
        produce_pircture,
      </if>
      <if test="produceState != null">
        produce_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="produceId != null">
        #{produceId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="produceCode != null">
        #{produceCode,jdbcType=VARCHAR},
      </if>
      <if test="produceName != null">
        #{produceName,jdbcType=VARCHAR},
      </if>
      <if test="producePrice != null">
        #{producePrice,jdbcType=DECIMAL},
      </if>
      <if test="producePriceOridry != null">
        #{producePriceOridry,jdbcType=VARCHAR},
      </if>
      <if test="produceInfo != null">
        #{produceInfo,jdbcType=VARCHAR},
      </if>
      <if test="producePircture != null">
        #{producePircture,jdbcType=VARCHAR},
      </if>
      <if test="produceState != null">
        #{produceState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ly.agrManader.dao.bo.ProduceExample" resultType="java.lang.Long">
    select count(*) from produce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update produce
    <set>
      <if test="record.produceId != null">
        produce_id = #{record.produceId,jdbcType=INTEGER},
      </if>
      <if test="record.supplierId != null">
        supplier_id = #{record.supplierId,jdbcType=INTEGER},
      </if>
      <if test="record.produceCode != null">
        produce_code = #{record.produceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.produceName != null">
        produce_name = #{record.produceName,jdbcType=VARCHAR},
      </if>
      <if test="record.producePrice != null">
        produce_price = #{record.producePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.producePriceOridry != null">
        produce_price_oridry = #{record.producePriceOridry,jdbcType=VARCHAR},
      </if>
      <if test="record.produceInfo != null">
        produce_info = #{record.produceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.producePircture != null">
        produce_pircture = #{record.producePircture,jdbcType=VARCHAR},
      </if>
      <if test="record.produceState != null">
        produce_state = #{record.produceState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update produce
    set produce_id = #{record.produceId,jdbcType=INTEGER},
      supplier_id = #{record.supplierId,jdbcType=INTEGER},
      produce_code = #{record.produceCode,jdbcType=VARCHAR},
      produce_name = #{record.produceName,jdbcType=VARCHAR},
      produce_price = #{record.producePrice,jdbcType=DECIMAL},
      produce_price_oridry = #{record.producePriceOridry,jdbcType=VARCHAR},
      produce_info = #{record.produceInfo,jdbcType=VARCHAR},
      produce_pircture = #{record.producePircture,jdbcType=VARCHAR},
      produce_state = #{record.produceState,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>