<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.agrManader.dao.Interface.PurchaseMapper">
  <resultMap id="BaseResultMap" type="com.ly.agrManader.dao.bo.Purchase">
    <id column="purchaseId" jdbcType="INTEGER" property="purchaseid" />
    <result column="purchaseName" jdbcType="VARCHAR" property="purchasename" />
    <result column="purchaseCode" jdbcType="VARCHAR" property="purchasecode" />
    <result column="purchaseNum" jdbcType="INTEGER" property="purchasenum" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="purchaseTime" jdbcType="TIMESTAMP" property="purchasetime" />
    <result column="contractPicture" jdbcType="VARCHAR" property="contractpicture" />
    <result column="quaitystate" jdbcType="VARCHAR" property="quaitystate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    purchaseId, purchaseName, purchaseCode, purchaseNum, supplierId, specification, purchaseTime, 
    contractPicture, quaitystate
  </sql>
  <select id="selectByExample" parameterType="com.ly.agrManader.dao.bo.PurchaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase
    where purchaseId = #{purchaseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purchase
    where purchaseId = #{purchaseid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ly.agrManader.dao.bo.PurchaseExample">
    delete from purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ly.agrManader.dao.bo.Purchase">
    insert into purchase (purchaseId, purchaseName, purchaseCode, 
      purchaseNum, supplierId, specification, 
      purchaseTime, contractPicture, quaitystate
      )
    values (#{purchaseid,jdbcType=INTEGER}, #{purchasename,jdbcType=VARCHAR}, #{purchasecode,jdbcType=VARCHAR}, 
      #{purchasenum,jdbcType=INTEGER}, #{supplierid,jdbcType=INTEGER}, #{specification,jdbcType=VARCHAR}, 
      #{purchasetime,jdbcType=TIMESTAMP}, #{contractpicture,jdbcType=VARCHAR}, #{quaitystate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ly.agrManader.dao.bo.Purchase">
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purchaseid != null">
        purchaseId,
      </if>
      <if test="purchasename != null">
        purchaseName,
      </if>
      <if test="purchasecode != null">
        purchaseCode,
      </if>
      <if test="purchasenum != null">
        purchaseNum,
      </if>
      <if test="supplierid != null">
        supplierId,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="purchasetime != null">
        purchaseTime,
      </if>
      <if test="contractpicture != null">
        contractPicture,
      </if>
      <if test="quaitystate != null">
        quaitystate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purchaseid != null">
        #{purchaseid,jdbcType=INTEGER},
      </if>
      <if test="purchasename != null">
        #{purchasename,jdbcType=VARCHAR},
      </if>
      <if test="purchasecode != null">
        #{purchasecode,jdbcType=VARCHAR},
      </if>
      <if test="purchasenum != null">
        #{purchasenum,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="purchasetime != null">
        #{purchasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractpicture != null">
        #{contractpicture,jdbcType=VARCHAR},
      </if>
      <if test="quaitystate != null">
        #{quaitystate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ly.agrManader.dao.bo.PurchaseExample" resultType="java.lang.Long">
    select count(*) from purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update purchase
    <set>
      <if test="record.purchaseid != null">
        purchaseId = #{record.purchaseid,jdbcType=INTEGER},
      </if>
      <if test="record.purchasename != null">
        purchaseName = #{record.purchasename,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasecode != null">
        purchaseCode = #{record.purchasecode,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasenum != null">
        purchaseNum = #{record.purchasenum,jdbcType=INTEGER},
      </if>
      <if test="record.supplierid != null">
        supplierId = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.specification != null">
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasetime != null">
        purchaseTime = #{record.purchasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractpicture != null">
        contractPicture = #{record.contractpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.quaitystate != null">
        quaitystate = #{record.quaitystate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update purchase
    set purchaseId = #{record.purchaseid,jdbcType=INTEGER},
      purchaseName = #{record.purchasename,jdbcType=VARCHAR},
      purchaseCode = #{record.purchasecode,jdbcType=VARCHAR},
      purchaseNum = #{record.purchasenum,jdbcType=INTEGER},
      supplierId = #{record.supplierid,jdbcType=INTEGER},
      specification = #{record.specification,jdbcType=VARCHAR},
      purchaseTime = #{record.purchasetime,jdbcType=TIMESTAMP},
      contractPicture = #{record.contractpicture,jdbcType=VARCHAR},
      quaitystate = #{record.quaitystate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.agrManader.dao.bo.Purchase">
    update purchase
    <set>
      <if test="purchasename != null">
        purchaseName = #{purchasename,jdbcType=VARCHAR},
      </if>
      <if test="purchasecode != null">
        purchaseCode = #{purchasecode,jdbcType=VARCHAR},
      </if>
      <if test="purchasenum != null">
        purchaseNum = #{purchasenum,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        supplierId = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="purchasetime != null">
        purchaseTime = #{purchasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractpicture != null">
        contractPicture = #{contractpicture,jdbcType=VARCHAR},
      </if>
      <if test="quaitystate != null">
        quaitystate = #{quaitystate,jdbcType=VARCHAR},
      </if>
    </set>
    where purchaseId = #{purchaseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.agrManader.dao.bo.Purchase">
    update purchase
    set purchaseName = #{purchasename,jdbcType=VARCHAR},
      purchaseCode = #{purchasecode,jdbcType=VARCHAR},
      purchaseNum = #{purchasenum,jdbcType=INTEGER},
      supplierId = #{supplierid,jdbcType=INTEGER},
      specification = #{specification,jdbcType=VARCHAR},
      purchaseTime = #{purchasetime,jdbcType=TIMESTAMP},
      contractPicture = #{contractpicture,jdbcType=VARCHAR},
      quaitystate = #{quaitystate,jdbcType=VARCHAR}
    where purchaseId = #{purchaseid,jdbcType=INTEGER}
  </update>
</mapper>