<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.agrManader.dao.Interface.WarehouseMapper">
  <resultMap id="BaseResultMap" type="com.ly.agrManader.dao.bo.Warehouse">
    <id column="warehouseId" jdbcType="INTEGER" property="warehouseid" />
    <result column="warehouseStorage" jdbcType="VARCHAR" property="warehousestorage" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="stats" jdbcType="VARCHAR" property="stats" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    warehouseId, warehouseStorage, size, stats
  </sql>
  <select id="selectByExample" parameterType="com.ly.agrManader.dao.bo.WarehouseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warehouse
    where warehouseId = #{warehouseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warehouse
    where warehouseId = #{warehouseid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ly.agrManader.dao.bo.WarehouseExample">
    delete from warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ly.agrManader.dao.bo.Warehouse">
    insert into warehouse (warehouseId, warehouseStorage, size, 
      stats)
    values (#{warehouseid,jdbcType=INTEGER}, #{warehousestorage,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{stats,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ly.agrManader.dao.bo.Warehouse">
    insert into warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warehouseid != null">
        warehouseId,
      </if>
      <if test="warehousestorage != null">
        warehouseStorage,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="stats != null">
        stats,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warehouseid != null">
        #{warehouseid,jdbcType=INTEGER},
      </if>
      <if test="warehousestorage != null">
        #{warehousestorage,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="stats != null">
        #{stats,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ly.agrManader.dao.bo.WarehouseExample" resultType="java.lang.Long">
    select count(*) from warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update warehouse
    <set>
      <if test="record.warehouseid != null">
        warehouseId = #{record.warehouseid,jdbcType=INTEGER},
      </if>
      <if test="record.warehousestorage != null">
        warehouseStorage = #{record.warehousestorage,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.stats != null">
        stats = #{record.stats,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update warehouse
    set warehouseId = #{record.warehouseid,jdbcType=INTEGER},
      warehouseStorage = #{record.warehousestorage,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=INTEGER},
      stats = #{record.stats,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.agrManader.dao.bo.Warehouse">
    update warehouse
    <set>
      <if test="warehousestorage != null">
        warehouseStorage = #{warehousestorage,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="stats != null">
        stats = #{stats,jdbcType=VARCHAR},
      </if>
    </set>
    where warehouseId = #{warehouseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.agrManader.dao.bo.Warehouse">
    update warehouse
    set warehouseStorage = #{warehousestorage,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      stats = #{stats,jdbcType=VARCHAR}
    where warehouseId = #{warehouseid,jdbcType=INTEGER}
  </update>
</mapper>